body {
  background-color: rgb(202, 255, 237);
  padding: 0 1rem;
  font-family: sans-serif;
}

nav {
  background-color: rgb(130, 165, 153);
  display: flex;
  gap: 2rem;
}
nav a {
  color: red;
}
nav a.active {
  color: white;
}

li:nth-of-type(2) {
  color: red;
}
li:nth-of-type(3) {
  color: gold;
}
li:last-of-type {
  color: green;
}
